body {
    background-color: #52796F;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    width: 50%;
    background-color: #84a98c;
    color: #354f52;
}

td,
th {
    border: 2px solid navy;
    padding: 8px;
}

img {
    border: solid navy;
    border-radius: 4px;
    padding: 4px;

}

a:hover {
    color: yellow;
    text-decoration: none;

}

.center {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}

